html, body {
    height: 100%;
    font: 10px sans-serif;
}
.myDivClass {
    box-shadow: 0 0 5px #999;
    margin: 5px;
}
#control-bar {
    padding-left: 5px;
    padding-bottom: 5px;
    width: 95%;
    height: 4%;
}
#dimensionScatter {
    width: 650px;
    height: 550px;
    float: left;
}
#rowDataScatter {
    width: 650px;
    height: 550px;
    float: left;
}
#originalCorrelogram {
    width: 650px;
    height: 550px;
    float: left;
}

.controlPanel{
    padding-left: 10px;
    padding-top: 5px;
}

.correlogram {
    font: 12px sans-serif;
    text-anchor: middle;
}
