div#rowDataTable{
    width: 1300px;
    height: 550px;
    overflow: scroll;
}

table {
    border: 2px solid #cad9ea;
    border-radius: 3px;
    /*color:#666;*/
    background-color: #fff;
    table-layout: fixed;
    font-size: 20px;
    margin: 2px auto;
}
th {
    background-color: #42b983;
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: lightgrey;
    width: 120px;
    height: 30px;
    text-align: center;
}